* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid #000;
    border-radius: 2px;
  }
  #circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid #000;
    border-radius: 50%;
  }
}
