* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  button {
    padding: 1em 2em;
    border-radius: 1em;
    border: none;
    background-color: red;
    color: wheat;
  }
}
