* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  button {
    margin-top: 1em;
    padding: 1em;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
    color: white;
    transition: background-color 0.2s ease;
  }
}
.popup {
  width: 100%;
  height: 100%;
  padding: 2em 4em;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
  .popup-content {
    background-color: #fff;
    padding: 2em;
    border-radius: 0.5em;
    width: 40%;
    max-width: 400px;
    h2 {
      text-align: center;
    }
    p {
      margin-top: 1em;
    }
    button {
      margin-top: 1em;
      padding: 1em;
      background-color: #4caf50;
      border: none;
      cursor: pointer;
      border-radius: 0.4em;
      color: white;
      transition: background-color 0.2s ease;
    }
  }
}
