* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .like {
    cursor: pointer;
    font-size: 15em;
  }
  .like:active {
    scale: 1.4;
  }
  p {
    font-size: 4em;
  }
}
