* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "coda";
  src: url("./Coda/Coda-Regular.ttf");
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5e5d5d;
  .box {
    height: 50em;
    width: 40em;
    background-color: rgb(111, 237, 172);
    border-radius: 2em;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    overflow: auto;
    cursor: pointer;
    .row {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      font-family: "coda";
      gap: 2em;
      background-color: #fff;
      border-radius: 1em;
      padding: 1em;
      img {
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}

.state {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f33b3b;
    color: #fff;
    padding: 0.6em 1.2em;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.2s ease;
  }
}
