* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .box {
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: background-color 0.5s;
    border: 1px solid black;
    border-radius: 50%;
  }
  button {
    padding: 1em 2em;
    border-radius: 1em;
    font-weight: 700;
    background-color: lightgreen;
  }
}
